<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Notícias</title>
		</head>
	<body>

		<h1>Notícias</h1>

		<table>
			
			<tr>
				<td>Id</td>
				<td>Título</td>
			</tr>
			

			<% for(var i = 0; i < noticias.length; i++) { %>
				<%var item = noticias[i]; %>
				<tr>
					<td><%= item.id_noticia %></td>
					<td><%= item.titulo %></td>
				</tr>
			<% } %>
		</table>

	</body>
</html>